.about-top-container{
	margin-bottom: 5em;
}

.about-top-container h1{
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 4.2rem;
	margin-top: 5rem;
}

.about-top-container > *{
	color: white;
	text-align: center;
	font-family: "Poppins", serif;

}
.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 3rem;
	position: relative;
	
}
.collage-img-info{
	position: absolute;
	color: white;
	top: 33rem;
	left: 0.3rem;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
    width: 33rem;
    height: 33rem;
    object-fit: cover;
    border-radius: 8px;
}

.small {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.small:hover {
    transform: scale(1.1);
}


.about-me{
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	margin-bottom: 10rem;

	p{
		max-width: 65%;
	}
}

.about-me-text, .cta-text, .cta-link{
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 1rem;
	text-align: left;
	width: 100%;
}

.cta-link{
	margin-top: 0rem;
}

#cta-contact-button{
	text-decoration: underline;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

#cta-contact-button:hover{
	color: var(--mainOrange);
}