.image-container{
	margin-top: 6rem;
}

#profile-picture{
	width: 18rem;
}

.text-top-container > *{
	color: white;
	text-align: center;
	font-family: "Poppins", serif;

}

.text-top-container h1{
	font-size: 5rem;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 4.2rem;
	margin-top: 1rem;
}

.sub-header{
	font-size: 2rem;
	font-weight: 250;
	margin-bottom: 0.5rem;
	line-height: 2rem;
	margin-top: 0.5rem;
}

.section-container > *{
	color: rgb(255, 255, 255);
}

.section-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 10rem;
	max-width: 65%;
	
}


.section-container h2{
	text-align: center;
	font-size: 4rem;
	font-weight: 700;
	margin-bottom: 0;
	line-height: 4.2rem;
	margin-top: 1rem;
}

.sub-text{
	text-align: center;
	background: linear-gradient(95deg, #9C83FF 57.09%, #FF9051 87.74%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: 0.5rem;
	font-size: 1rem;
	margin-bottom: 1rem;
	
}

.about-text, .more-info{
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.5;
	margin-top: 1rem;
	text-align: left;
}

.more-info{
	width: 100%;
}
#about-link, #course-plan{
	display: inline;
	cursor: pointer;
	text-decoration: underline 1px;
	font-family: "Inter", serif;
	font-size: 1.5rem;
	font-weight: 500;
	white-space: nowrap;
	transition: color ease-in-out 0.2s;
}

#about-link:hover, #course-plan:hover{
	color: var(--mainOrange);
}

.icon-container{
	margin: 2rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
}

.icon{
	max-width: 7.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.icon-header{
	width: 7.5rem;
	height: 2.7rem;
	border-radius: 0.7rem;
	border: 0.5px solid #9C83FF;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 400;
	margin-top: 0.5rem;
}

.logo{
	width: 80%;
	height: 100px;
	margin-top: 0.5rem;
}

.links-container{
	margin-top: 2rem;
	margin-bottom: 10rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 100%;
	gap: 2rem;
}

.link{
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

.link:hover{
	transform: scale(1.1);
	
	.link-text{
		color: var(--mainOrange);
		
	}
}

.link-icon-background{
	background-color: white;
	width: 9.5rem;
	height: 6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	min-width: 9.5rem;
	transition: scale 0.2s ease-in-out;

	.link-icon-vq {
		width: 8rem;
	}

	.link-icon-github{
		width: 4rem;
	}

	.link-icon-cv{
		width: 3rem;
	}
	
	.link-icon-linkedin{
		width: 6rem;
	}
}

.link-text{
	max-width: 18rem;
	margin-left: 1rem;
	transition: color 0.2s ease-in-out;

	h3{
		font-weight: bold;
		text-decoration: underline;
	}

}

/* Media Queries */

@media (max-width: 1100px){
	.section-container{
		max-width: 90%;
	}
}

@media (max-width: 800px) {
	.image-container{
		margin-top: 4rem;
	}
	
	#profile-picture{
		width: 14rem;
	}
	.text-top-container{
		margin-left: 1rem;
		margin-right: 1rem;
		h1{
			font-size: 3rem;
		}
		.sub-header{
			font-size: 1.5rem;
		
		}
	}

	.more-info, #about-link, #course-plan{
		font-size: 1rem;
		
	}

	.section-container{
		margin-top: 6rem;

		h2{
			font-size: 3rem;
		}
	}

	.about-text{
		font-size: 1rem;
	}

	.icon-container{
		grid-template-columns: 1fr 1fr;
	}

	.links-container{
		grid-template-columns: 1fr;
	}
}

@media(max-width: 540px){
	.links-container{
		grid-template-rows: 1fr;
	}
	
	.link{
		flex-direction: column;
	}
	
	.link-text{
		margin: 0;
		margin-top: 0.4rem;

		h3{
			text-align: center;
		}

		p{
		text-align: center;
		}
	}
}